.card{
    background-color: var(--dark-bg);
    color: var(--text-default-clr);
    margin: 0;
}


/* Home, Categories Card */

.quiz-card-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-card{
    height: 22rem;
    width: 14rem;
    box-shadow: none;
}

.quiz-card:hover{
    transform: translateY(-0.5rem);
    transition:  0.1s ease-in;
    box-shadow: rgba(252, 252, 252, 0.301) 0px 0.5rem 1.5rem;
}

.quiz-card .card-image-box{
    height: 50%;
    object-fit: cover;
}

.quiz-card .card-topic-summary{
    margin: 0.5rem 0;
    font-size: 0.8rem;
    line-height: 1.1rem;
}

.quiz-card .card-footer-container{
    align-items: center;
}

.quiz-card .footer-btn-wrapper .pill-btn{
    padding: 0.5rem 1.5rem;
}

.quiz-card .footer-icon-btn-wrapper .btn{
    background-color: transparent;
    padding: 0.2rem 0.8rem;
    font-size: 0.7rem;
}
