@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@import url('./navbar.css');
@import url('./badge.css');
@import url('./button.css');
@import url('./cards.css');
@import url('./homepage.css');
@import url('/pages/categories/categories.css');
@import url('/pages/quizpage/quiz.css');

:root{
    font-family: 'Roboto', sans-serif;

    /* Default colors */

    --primary-clr: #0565ff;
    --primary-hover-clr: #013d9c;
    
    --secondary-clr: white;
    --seconadary-hover-clr: white;

    --correct-clr: rgb(0, 97, 0);
    --wrong-clr: #970000;
    
    --white-bg: rgb(255, 255, 255);
    --dark-bg: rgb(31, 31, 31);

    /* Default Font colors */

    --text-default-clr: white;
    --text-secondary-clr: white;
    --text-grey: rgb(161, 161, 161);

    /* Body color */
    --body-bg: #001219;

    /* Quiz btn */
    --quiz-btn-default-bg: rgb(26, 25, 27);
    --quiz-btn-selected-bg: rgb(53, 53, 53);
}



body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: var(--body-bg);
}

.main-container{
    max-width: 60rem;
    padding: 1.5rem;
    margin:auto;
}



/******** Utilities ********/

.link-no-decor{
    text-decoration: none;
    cursor: pointer;
    color: var(--text-default-clr);
}

.full-width{
    width: 100%;
}

/******** Section margins ********/

.section-gutter-lg{
    margin: 9rem;
}
.section-gutter-md{
    margin: 6rem;
}
.section-gutter-reg{
    margin: 3rem;
}
.section-gutter-sm{
    margin: 1.5rem;
}







/******** Responsive media queries ********/

@media screen and (max-width:768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }
}
